name: Build and test app in toolchain bundle environment

on:
  pull_request:
  push:
    branches:
      - main
      - 'v*-branch'

jobs:
  build-and-test-in-toolchain-bundle:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository with example application
        uses: actions/checkout@v4
        with:
          path: example-application

      - name: Prepare west project
        run: |
          python3 -m pip install west
          west init -l example-application
          west update -o=--depth=1 -n

      - name: Setup ncs toolchain
        id: setup-toolchain
        uses: nrfconnect/action-ncs-toolchain-setup@main
        with:
          nrf-path: nrf

      - name: Build firmware
        run: |
          ./nrfutil sdk-manager toolchain launch \
          --toolchain-bundle-id ${{steps.setup-toolchain.outputs.toolchain-bundle-id}} \
          --chdir example-application -- west twister -T app -v --inline-logs --integration

      - name: Store hex files
        uses: actions/upload-artifact@v4
        with:
          name: built-applications
          path: example-application/twister-out/**/zephyr/zephyr.hex
